<div class="section">
    <h1>perideus</h1>
    <div class="content">
        <div class="item">one</div>
        <div class="item">two</div>
        <div class="item">three</div>
        <div class="item">four</div>
        <div class="item">five</div>
        <div class="item">six</div>
    </div>
</div>
