<div class="section landing">
    <div class="starbound-logo">
        <h1>STARBOUND</h1>
    </div>
    <div class="x">
        <button data-event="about" class="desk-nav-btn">ABOUT</button>
        <button data-event="gallery" class="desk-nav-btn">GALLERY</button>
        <button class="desk-nav-btn x-icon"></button>
        <button data-event="comic" class="desk-nav-btn">COMIC</button>
        <button data-event="contact" class="desk-nav-btn">CONTACT</button>
    </div>
    <p class="subheader">the remix to earthbound by copperwire</p>
    <p class="produced-by">produced by appsynth media</p>
</div>
